# Dependencies
node_modules

# Build
dist
dist-ssr

# Python
__pycache__
*.pyc
.venv

# Data
data/

# Env
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.sw?

# OS
.DS_Store

# Misc
*.log
*.local
*.tsbuildinfo
coverage
