VOXA_DATABASE_URL=postgresql+asyncpg://voxa:voxa@localhost:5433/voxa
VOXA_AUDIO_DIR=./data/audio

VOXA_WHISPER_MODEL=large-v3
VOXA_WHISPER_DEVICE=cpu
VOXA_WHISPER_COMPUTE_TYPE=int8

VOXA_HF_TOKEN=your_token_here

VOXA_OPENROUTER_LLM_MODEL=google/gemini-3-flash-preview
VOXA_OPENROUTER_TOKEN=your_token_here

VOXA_YANDEX_TRACKER_TOKEN=
VOXA_YANDEX_TRACKER_ORG_ID=
VOXA_YANDEX_TRACKER_CLOUD_ORG=true
